body {
    margin: 0%;
    padding: 0%;
}

.marise {
    height: 100vh; /* 100% da altura da janela do navegador */
    width: 100wh;
    display: flex;
    background-color: #e0e1e5;
    background-image: url(https://img.freepik.com/fotos-premium/mulher-caucasiana-madura-mostra-um-tablet-digital-de-tela_262388-6053.jpg?w=740);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    align-items: flex-end;
    justify-content: center;
}

.caixa {
    position: relative;
    width: 200px;
    height: 200px; 
    bottom: 90px;
    right: 75px;
    
}

.botao {
    position: absolute; 
    top: 50%;
    left: 50%;
    background-color: yellow;
    border-radius: 7px;
    
}