body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}
.tablet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1000px;
    border: solid 10px;
    border-color: white;
    border-radius: 50px;
    background-color: white;
}
.tela{
    height: 100%;
    width: 90%;
    display: flex;
    background-image:url(https://i.pinimg.com/originals/49/df/fa/49dffa6895c846a3ed15120c233ef901.jpg);
    background-size: cover;
}
.caixa{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.camera{
    background-color:rgb(8, 8, 8);
    width: 15px;
    height: 15px;
    border: solid rgb(8, 8, 8) 5px;
    border-radius: 100%;
    position: absolute;
    left:200px
}

.butao{
    background-color: rgb(218, 218, 218);
    width: 30px;
    height: 30px;
    border: solid gray 3px;
    border-radius: 100%;
    position: absolute;
    right: 175px
}

/* .app_calculadora{
    position: absolute;
    right: 500px;

} */

.caixa .app_conversor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position: absolute;
    left: 500px; */

}
.texto{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: cursive;
    font-weight: bolder;
}
